@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: calc(1rem + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background-color: #D5E1EF;
}

.container{
    width: min(20rem, 90vw);
    max-width: 100%;
    background-color: white;
    border-radius: 1.25rem;
    padding: 1rem;
}

.container img{
    width: 100%;
    max-width: 18rem;
    height: auto;
    border-radius: 0.625rem;
    display: block;
}

.container__text{
    width: 100%;
    padding-inline: 1rem;
}

.container h1{
    text-align: center;
    font-size: 1.32rem;
    color: #1F314F;
    padding-block: 1.5rem 1rem;
}

.container p{
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.012rem;
    color: #68778D;
    padding-block-end: 1.5rem;
}